#shield{
			/*background-color: #708090;*/
			background-image: url(path4145.png);
			height: 250px;
			left: 50px;
			position: absolute;
			top: 200px;
			width: 200px;
			color: #FFD700;
			cursor: pointer;
		}
#shield2{
			background-image: url(path4145.png);
			height: 250px;
			left: 1120px;
			position: absolute;
			top: 200px;
			width: 200px;
			color: #FFD700;
			cursor: pointer;
		}
#conteiner{
	width: 620px;
	position: absolute;
	left: 390px;
	top: 500px;
}
#scene{
	left: 285px;
	top: 100px;
	position: absolute;
	/*background-color: #B0E0E6;*/
	width: 800px;
	height: 400px;
}
		#gun{
			height: 100px;
			width: 160px;
			position: absolute;
			left: 13px;
			top: 300px;
		}
#circle{
			background-color: black;
			height: 9px;
			left: 125px;
			position: absolute;
			top: 330px;
			width: 9px;
			border-radius: 50%;
		}
		#gun2{
			height: 100px;
			width: 160px;
			position: absolute;
			left: 620px;
			top: 300px;
		}
#circle2{
			background-color: black;
			height: 9px;
			left: 660px;
			position: absolute;
			top: 330px;
			width: 9px;
			border-radius: 50%;
		}
#shar{
	background-color: #191970;
	height: 180px;
	left: 5px;
	position: absolute;
	top: 260px;
	width: 180px;
	border-radius: 50%;
	opacity: 0.6;
}
#shar2{
	background-color: #191970;
	height: 180px;
	left: 610px;
	position: absolute;
	top: 260px;
	width: 180px;
	border-radius: 50%;
	opacity: 0.6;
}
#name2{
	position: absolute;
	top: 100px;
	left: 1155px;
}
#name{
	position: absolute;
	top: 100px;
	left: 70px;
}
#win{
	position: absolute;
	top: 500px;
	left: 50px;
	width: 500px;
	height: 150px;
	/*background-color: #708090;*/
}