#rotate_element {
/*  -webkit-transform: rotate(90deg); // разворот элемента для разных бразуеров
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);*/
  transform: rotate(90deg);
  	background-color: #191970;

}